html {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    background-color: rgb(255, 242, 225);
}

a {
    color: rgb(255, 119, 119);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    list-style: none;
  }

ul li::before {
    color: rgb(255, 242, 225);
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}


#side-profile {
    margin-left: 350px;
    padding-top: 50px;
    background-color: rgb(0, 0, 70);
    width: 350px;
    height: 1800px;
    position: absolute;
    color: rgb(255, 242, 225);
    border: 2px solid rgb(255, 242, 225);
    border-right-style: hidden;
}

/*Intro*/
.profile {
    margin: 30px 0 0 0;
}

.DP {
    margin-left: 90px;
    margin-bottom: 50px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 10% 20%;
    border-radius: 50%;
    border: 2px solid rgb(255, 242, 225);
}

.name {
    margin: 0px 10px;
    padding: 0px 40px;
}

.name h1 {
    margin: 0;
    padding: 0 5px;
    font-size: 1.8rem;
    font-weight: 100;
}

.name p {
    margin: 5px 0 0 5px;
}

.name .SE {
    margin: 0 0 0 5px;
}

/*Intro*/

.side-hr {
    margin: 35px 0px 35px 70px;
    height: 1px;
    width: 280px;
    text-align: left;
    border-width: 0;
    color: rgb(255, 242, 225);
    background-color: rgb(255, 242, 225);
}

/* Technical-Skills */
.technical-skills {
    margin: 10px;
    padding: 0 40px;
}

.technical-skills h1 {
    font-size: 1.3rem;
    font-weight: 100;
}

.technical-skills h4 {
    margin: 25px 0 0 0
}

.technical-skills p {
    margin: 5px 0;

}

.technical-skills li {
    color: rgb(255, 119, 119);
}
/* Technical-Skills */

/* Soft-Skills */
.soft-skills {
    margin: 10px;
    padding: 0 40px;
}

.soft-skills h1 {
    font-size: 1.3rem;
    font-weight: 100;
}

.soft-skills h4 {
    margin: 25px 0 0 0
}

.soft-skills p {
    margin: 5px 0;

}

.soft-skills li {
    color: rgb(255, 119, 119);
}

/* Soft-Skills */

/* Language */
.language {
    margin: 10px;
    padding: 0 40px;
}

.language h1 {
    font-size: 1.3rem;
    font-weight: 100;
}

.language h4 {
    margin: 25px 0 0 0;
}

.language p {
    margin: 5px 0;
    color: rgb(255, 119, 119);
}

.language li {
    color: rgb(255, 119, 119);
}

/* Language */

/* Contant */
.contact {
    margin: 10px;
    padding: 0 40px;
}

.contact h1 {
    font-size: 1.3rem;
    font-weight: 100;
}

.contact h4 {
    margin: 25px 0 0 0;
}

.contact p {
    margin: 5px 0;
}



/* Contant */

/* Right Panel */

#resume-panel {
    margin-left: 350px;
    margin-right: 350px;
    padding-top: 50px;
    width: 800px;
    height: 1800px;
    position: absolute;
    left: 400px;
    border: 2px solid rgb(0, 0, 70);
    border-left-style: none;
}

#resume-panel span {
    font-weight: 300;
}


.timeline-middle {
    margin: 2px 0 0 0;
    position: absolute;
    left: 10px;
    height: 700px;
    width: 2px;
    background-color: rgb(0, 0, 70);
}

.timeline-round {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 119, 119);
    border-radius: 50%;
}

.timeline-round-2 {
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 119, 119);
    border-radius: 50%;
}

.timeline-round-3 {
    position: absolute;
    top: 502px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 119, 119);
    border-radius: 50%;
}

.resume-hr {
    margin-top: 35px;
    height: 2px;
    width: 70%;
    text-align: left;
    border-width: 0;
    color: rgb(0, 0, 70);
    background-color: rgb(0, 0, 70);
}

.resume-header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-me h3 {
    color: rgb(0, 0, 70);
}

.about-me p {
    padding: 0 70px 0 0px;
}

.resume-sub {
    display: flex;
    margin: 0 0 50px 0;
}

.resume-title {
    width: 150px;
    margin: 0 0 0 25px;
    color: rgb(0, 0, 70);
}

.resume-title h4 {
    margin: 0;
}

.resume-title h3 {
    margin: 0 0 2px 5px;
}

.resume-p {
    width: 550px;
    margin: 0 0 0 20px;
    color: rgb(0, 0, 70);
}

.resume-p h3 {
    margin: 0 0 2px 5px;
}

.resume-p h4 {
    margin: 0 0 2px 5px;
}

.resume-p p {
    margin: 0;
}

.resume-p ul {
    margin: 0 0 0 20px;
    padding: 0;
}

.timeline-middle-edu {
    margin: 2px 0 0 0;
    position: absolute;
    left: 10px;
    height: 270px;
    width: 2px;
    background-color: rgb(0, 0, 70);
}

.timeline-round-edu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 119, 119);
    border-radius: 50%;
}

.timeline-round-2-edu {
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 119, 119);
    border-radius: 50%;
}

.timeline-middle-ref {
    margin: 2px 0 0 0;
    position: absolute;
    left: 10px;
    height: 116px;
    width: 2px;
    background-color: rgb(0, 0, 70);
}

.timeline-round-ref {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 119, 119);
    border-radius: 50%;
}

.timeline-round-2-ref {
    position: absolute;
    top: 116px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 119, 119);
    border-radius: 50%;
}
